@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition:0.5s ease-in-out;
}
.main-container{
    height:100vh;
    width:100vw;
    display: flex;
}
.Player-container{
    height:100vh;
    width:40vw; 
    display:flex;
    justify-content: center;
    align-items: center;
}
.box-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:30vh;
    width:27vw;  
}
.Paper,.Scissor,.Rock{
    height:203px;
    width:195px;
    background-repeat: no-repeat;
    background-size: cover; 
    margin:2%;
    cursor: pointer;
}
.Computer-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:40vw; 
}

.computer-box{
display:flex;
justify-content: center;
align-items: center;
height:30vh;
width:27vw;

}
.ComputerGeneratedSign{
    height:203px;
    width:190px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mid-container{
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Play-Again{
    height:10vh;
    width:20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #adff2f;
    font-size: 45px;
    color:black;
    cursor:pointer;
}
.start{
    height:10vh;
    width:20vw;
    background: greenyellow;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 45px;
    color: black;
    cursor:pointer;
}

.displayResult{
    height:10vh;
    width:20vw;
    justify-content: center;
    align-items: center;
    display: flex;
    background: greenyellow;
    font-size: 45px;
    color: black;
    cursor:pointer;
}



.button22 {
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    outline: none;
    border: none;
    background-color: #0c0c0c;
    transition: all 0.2s ease;
}
.button22:hover {
    transform: scale(0.96);
}
.button22:before,
.button22:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}
.button22:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #0c0c0c 20%, transparent 30%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #0c0c0c 15%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: topBubbles 1s ease;
}
@keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
.button22:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #0c0c0c 15%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: bottomBubbles 1s ease;
}
@keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@media only screen and (max-width: 768px) {
  .main-container{
    position:relative;
    height:100vh;
    width:100vw;
    overflow: hidden;
  }
  .mid-container{
    height:30vh;
    width:100vw;
    position:absolute;
    top:60vh;
  }
  .Play-Again{
    height:7vh;
    width:100vw;
  }
  .displayResult{
    height:7vh;
    width:100vw;
  }
  .start{
    height:7vh;
    width:100vw;
  }
  
  .Player-container{
    height:40vh;
    width:100vw; 
    display:flex;
    top:25%;
    margin-top: 5%;
    position: absolute;
    justify-content: center;
    align-items: center; 
 }
.box-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:30vh;
    width:90vw;  
}
.Computer-container{
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:5%;
  height:50vh;
  width:100vw; 
}

.computer-box{
  display:flex;
  justify-content: center;
  align-items: center;
  height:50vh;
  width:57vw;
  }


.ComputerGeneratedSign{
  height:45vh;
  width:43vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

}
  


