*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.main-container{
    height:100vh;
    width:100vw;
    display: flex;
}
.Player-container{
    height:100vh;
    width:40vw; 
    display:flex;
    justify-content: center;
    align-items: center;
}
.box-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:30vh;
    width:27vw;  
}
.Paper,.Scissor,.Rock{
    height:150px;
    width:150px;
    background-repeat: no-repeat;
    background-size: cover; 
    margin:2%;
    cursor: pointer;
}
.Computer-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:40vw; 
}

.computer-box{
display:flex;
justify-content: center;
align-items: center;
height:30vh;
width:27vw;

}
.ComputerGeneratedSign{
    height:203px;
    width:190px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mid-container{
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Play-Again{
    height:10vh;
    width:20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #adff2f;
    font-size: 45px;
    color:black;
    cursor:pointer;
}
.start{
    height:10vh;
    width:20vw;
    background: greenyellow;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 45px;
    color: black;
    cursor:pointer;
}

.displayResult{
    height:10vh;
    width:20vw;
    justify-content: center;
    align-items: center;
    display: flex;
    background: greenyellow;
    font-size: 45px;
    color: black;
    cursor:pointer;
}




